<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/sebastianbergmann/phpunit/9.3.8/phpunit.xsd"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertDeprecationsToExceptions="true"
        convertWarningsToExceptions="true"
        cacheResult="false"
>
    <testsuites>
        <testsuite name="Consolly Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>